<!DOCTYPE html>
<html lang="en" data-theme="light">
  <script type="text/javascript">
    const root = document.firstElementChild;
    const mediaQuery = "(prefers-color-scheme: dark)";
    const mediaMatch = window.matchMedia;
    const currentMode = mediaMatch(mediaQuery).matches;

    const storeTheme = (targetTheme) => {
      if ("boolean" === typeof targetTheme) {
        targetTheme = targetTheme ? "dark" : "light";
      }
      root.setAttribute("data-theme", targetTheme);
      localStorage.setItem("data-theme", targetTheme);
    };

    const storedTheme = ("data-theme" in localStorage)
      ? localStorage.getItem("data-theme")
      : currentMode;

    storedTheme && storeTheme(storedTheme);
  </script>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Lucid</title>

    <meta name="supported-color-schemes" content="light dark">

    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" crossorigin="anonymous">

    <link rel="preload" href="/fonts/inter.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/epilogue.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/jetbrains-mono.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/critical.css" inline>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="canonical" href="{{ url | url(true) }}">
    
    {% if page_css %}
      <link rel="stylesheet" href="/styles/pages/{{ page_css }}">
    {% endif %}

    <script src="/main.js" type="module"></script>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url | url(true) }}">
    <meta property="og:description" content="{{ description | md(true) | striptags }}">
    <meta property="og:image" content="https://lucid.spacebudz.io/logo.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description | md(true) | striptags }}">
    <meta name="twitter:site" content="@spacebudzNFT">
    <meta name="twitter:image" content="https://lucid.spacebudz.io/logo.png">

    <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#141b1f" media="(prefers-color-scheme: dark)">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3.2.1/dist/style.css"
      integrity="sha256-brWyd+lKlaU/B5Lhqd/FUXyZQu4rVmbFRsP2E8S2CLw="
      crossorigin="anonymous">
  </head>
  <body>
    {% include "templates/navbar.njk" %}
    <div>
      {{ content | safe }}
    </div>
    {% include "templates/footer.njk" %}

    <script
      src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.2.1/dist/umd/index.js"
      integrity="sha256-7XYP2JLQrbyOqBKrAn8sT3l8PG/v2j6C3A5EyBDp9to="
      crossorigin="anonymous" defer></script>
      
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', () => {
        document.getElementById("switch-theme").addEventListener("click", (event) => {
          const currentTheme =
            localStorage.getItem("data-theme") == "light" || (getComputedStyle(root).getPropertyValue("color-scheme") == "light");
          storeTheme(!!currentTheme);
        });

        mediaMatch(mediaQuery).addEventListener("change", (event) => {
          storeTheme(event.matches);
        });

        docsearch({
          appId: "",
          apiKey: "",
          indexName: "lucid",
          container: document.getElementById("search"),
          debug: false
        });
      }, false);
    </script>
  </body>
</html>
