<nav class="navbar-container">
  <div class="navbar">
    <a href="/" class="navbar-logo" aria-label="Return home">
    <img src="/logo.svg" width="34" height="34"></img>
      <span>Lucid</span>
    </a>

    <ul class="navbar-menu">
      <li>
        <a href="/docs/overview/about-lucid/" {% if main_menu == "docs" %}class="is-selected"{% endif %}>
          Documentation
        </a>
      </li>
    </ul>
  </div>
</nav>