{% if toc.length %}
<nav class="toc">
  <ol>
    {% for item in toc %}
    <li>
      <a href="#{{ item.slug }}">{{ item.text }}</a>
      {% if item.children.length %}
      <ul>
        {% for child in item.children %}
        <li>
          <a href="#{{ child.slug }}">{{ child.text }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
