<nav class="doc-navbar">
  <ol class="doc-navbar-section-links">
    {% for page in search.pages("url^=/tutorial/", "step") %}
      <li>
        {% if page.data.url == url %}
        <a href="{{ page.data.url }}" aria-current="page" title="{{ page.data.description }}">
          {{ page.data.step }}. {{ page.data.title }}
        </a>
        {% else %}
        <a href="{{ page.data.url }}" title="{{ page.data.description }}">
          {{ page.data.step }}. {{ page.data.title }}
        </a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>